@import url('https://googleapis.com');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

:root {
  --turquesa: #1b264f;
  --azul: #274690;
  --ciano: #576ca8;
  --preto: #302b27;
  --cinza: #f6f6f6;
  --borda: #ebe6e7;
  --texto: #111827;
  --subtexto: #6b7280;
}

body {
  background: var(--cinza);
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
}

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin-left: 260px;
}

.conteudo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  flex: 1;
}

.categoria {
  color: #a0a5a8;
  margin: 16px 0 4px 10px;
  font-size: 11px;
  text-transform: uppercase;
}

.adm {
  display: none;
}

.padrao-serv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.servidores {
  border: 2px var(--borda) solid;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.detalhes-servidores {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.info-servidores {
  border: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.nome {
  flex-direction: row;
}

.info-servidores span {
  font-weight: bold;
}

.info-servidores p {
  color: var(--subtexto)
}

.selecionar-servidores {
  align-self: flex-end;
  align-items: flex-end;
  width: 20%;
  justify-items: flex-end;
}

.selecionar-servidores select {
  border: 2px var(--borda) solid;
  border-radius: 10px;
  justify-self: flex-end;
  padding: 5%;
  width: 75%;
  margin-left: 30%;
  appearance: none;
  background-image: url(../assets/imgs/painel/select-baixo.png);
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 24px auto;
}


/* overlay do menu hamburguer */
.modal-lateral {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 998;

}

.modal-lateral.ativo {
  display: block;
}

.lateral {
  z-index: 999;
  transition: transform 0.3s ease;
}

/* tablet/mobile */
@media (max-width: 1439px) {
  .lateral {
    width: 220px;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: transform 0.3s ease;
  }

  .lateral.ativo {
    transform: translateX(0);
  }


  .modal-lateral {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
  }

  .modal-lateral.ativo {
    display: block;
    width: 100%;
    height: 100%;
  }

  .hamburguer {
    display: flex;
  }

  .main {
    margin-left: 0;
    width: 100%;
  }
}

/* celular */
@media (max-width: 799px) {
  .conteudo {
    padding: 15px;
    gap: 12px;
  }

  .servidores {

    width: 60%;
  }

  .selecionar-servidores {
    width: 40%;
    align-items: flex-end;
  }



  .selecionar-servidores select {
    width: 100%;
    margin-left: 10%;
  }

  .ip,
  .att {
    display: none;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .modal-lateral {
    display: none !important;
  }
}

.kpis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  gap: 50px;
}

.kpi {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.kpi .informacoes {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.kpi .informacoes div {
  display: flex;
}

.kpi .informacoes .informacoes-principais {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.tempo_dash {
  display: flex;
  align-items: center;
  border: 1.5px var(--borda) solid;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  margin-top: 30px;
}

#tempo {
  outline: none;
  width: 100%;
  padding: 0 5px;
}

#relogio {
  width: 18px;
  height: 18px;
}

#kpi-alerta {
  padding: 8px;
  border-radius: 8px;
}

.kpi button {
  background-color: #1F2937;
  color: #fff;
  font-weight: bold;
  width: 100%;
  padding: 13px 0;
  margin-top: 15px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.corpo-dashboard {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
}

.corpo-esquerda {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.corpo-direita {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.card {
  display: flex;
  background-color: #fff;
  border: 1px solid #E7E4E4;
  border-radius: 10px;
  padding: 30px 40px;
  flex-direction: column;

  .opcao-ocultar-servidores {
    display: flex;
    gap: 4px;
    margin-top: 25px;

    input[type="checkbox"] {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
}

.card .titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 100%;
  margin-bottom: 20px;

  h1 {
    font-size: 18px;
    font-weight: normal;
  }
}

.tempo_alerta {
  margin-left: auto !important;
  width: 40%;
}

.lista-servidores {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-direction: row;
  gap: 15px;
  place-items: center;

  .card-servidor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    width: 110px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 8px;
  }
}

.podio {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.podio .posicoes {
  display: flex;
  background-color: #F9F9F9;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  width: 100%;
  padding: 14px 14px 14px 20px;
  align-items: center;
  gap: 10px;
  font-size: 14px;

  .posicao-representante{
    padding: 8px;
    border-radius: 8px;
    font-size: 11px;
    margin-left: auto !important;
  }
}


.grafico-container {
  position: relative;
  width: 100%;
}

@media (max-width: 1100px) {
  .kpis {
    grid-template-columns: repeat(2, 1fr);
  }

  .corpo-dashboard {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .kpis {
    grid-template-columns: 1fr;
  }

  .lista-servidores {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }

  .card{
    padding: 30px 25px;
  }

  .posicao-representante{
    opacity: 0;
  }
}

@media (max-width: 400px) {
  .titulo {
        flex-wrap: wrap;
    }

    .tempo_alerta {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}