/* Essa é a estilização para restauração dos padrões do site */
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.titulo {
    font-size: 30px;
    font-family: "Jura", sans-serif;
    font-weight: 600;
}

.texto {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-align: justify;
}

/*Essa é a estilização do HEADER 
obs: Ela é feita com position FIXED, ou seja, ao descer na tela ela vai junto*/
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.849);
    position: fixed;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    align-items: center;
    height: 10vh;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    z-index: 99;
    letter-spacing: 1.5px;
}

header .section_logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    gap: 30px;
}

header .section_logo img {
    width: 50px;
}

header .section_href {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    gap: 50px;
    list-style: none;
}

header .section_href a {
    text-decoration: none;
    color: black;
    transform: 2s;
}

header .section_href a:hover {
    border-bottom: 2px solid black;
    transition: 2s;
}

#imgPerfilNav {
    cursor: pointer;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

header .menu_responsivo div {
    width: 32px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 8px;
}

header .menu_responsivo {
    cursor: pointer;
    display: none;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* INICIO MAIN */
main {
    background-size: 100vw;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/imgs/faleConosco/FC_fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main p {
    color: #fff;
    font-family: "Jura", sans-serif;
    font-size: 30px;
}

input {
    background-color: white;
    border: 3px solid #1B264F;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

main .section_forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

main .section_forms .titulo {
    color: white;
    font-size: 35px;
    padding-bottom: 3%;
}

main .section_forms .section_nome div input {
    width: 100%;
}

main .section_forms .section_nome {
    display: flex;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

main .section_forms .section_email input,
.section_msg textarea {
    width: 30vw;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Inter';
    border: #1B264F 3px solid;
    border-radius: 10px;
    resize: none;
}

main .section_forms .section_email input,
.section_nome input {
    height: 6vh;
}

main .section_forms .section_msg textarea {
    height: 30vh;

}

main .section_forms button {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #1B264F;
    color: #fff;
    cursor: pointer;
}

main .section_forms button:hover {
    background-color: #ffffff;
    color: #1B264F;
    padding: 12px 22px;
    border: 3px solid #1B264F;
    transition: 1s;
}



/* FIM MAIN */

/* FOOTER ÍNICIO */
footer {
    background-color: #1B264F;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
    align-items: center;
}

footer .section_esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 10px;
}

footer .section_esquerda a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

footer .section_esquerda a:hover {
    border-bottom: 2px solid white;
}

footer .logo {
    width: 100px;
    height: 100px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 5px;
}

footer .logo img {
    width: 100px;
}

footer .section_direita {
    width: 40%;
    display: flex;
    justify-content: center;
}

footer .section_direita .img {
    width: 10%;
    max-height: 50px;
    margin-left: 3%;
}

footer .section_direita .img img {
    width: 100%;
    height: 100%;
}

/* FOOTER FIM*/

/* ÍNICIO RESPONSIVIDADE */

@media screen and (max-width: 667px) {
    header .section_href {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: rgba(255, 255, 255, 0.849);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    header .section_href.active {
        transform: translateX(0);
    }

    header .section_href li {
        margin-left: 0;
        opacity: 0;
    }

    header .menu_responsivo {
        display: block !important;
    }

    main {
        padding-top: 20%;
    }

    .titulo {
        font-size: 20px;
    }

    .texto {
        font-size: 15px;
    }



    footer {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    footer .logo img {
        width: 60px;
    }

    footer .logo .texto {
        width: 200px;
    }

    footer .section_esquerda a {
        width: 200px;
        font-size: 15px;
    }

    footer .section_direita .img {
        width: 100%;
        max-height: 50px;
        margin-left: 3%;
    }

    footer .section_direita .img img {
        width: 70%;
        height: 100%;
    }


    main {
        background-size: 200vh;
    }

    main .section_forms {
        width: 80vw;
    }

    main .section_forms .section_nome div input {
        width: 100%;
    }

    main .section_forms .section_nome {
        width: 100%;
    }

    main .section_forms .section_email input,
    .section_msg textarea {
        width: 80vw;
    }

    main p {
        font-size: 20px;
    }

}

/* TÉRMINO RESPONSIVIDADE */