* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#body {
    display: flex;
}

.navbar {
    align-items: center;
    background-color: #302b27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 15%;
    font-family: "Jura", sans-serif;
}

.logo {
    color: white;
    display: flex;
    font-size: 20px;
}

.logo img{
    width: 40px;
}

#imagemLogo {
    margin-top: -80px;
    height: 150px;
    width: 150px;
}

#imagemLogo img{
    height: 10px;
    width: 10px;
    object-fit: cover;
}

.caracteristicasNav {
    align-items: center;    
    color: white;
    display: flex;
    flex-direction: column;
}

.caracteristicasNav h4 {
    font-size: 16px;
    padding-top: 55px;
    padding-bottom: 5px;
}

.caracteristicasNav h5 {
    color: #817973;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.caracteristicasNav h6 {
    padding-bottom: 20px;
}

.caracteristicasNav img {
    width: 60%;
    height: auto;
}

.linha {
    background-color: white;
    border-radius: 10px;
    margin: 25px;
    margin-bottom: 35px;
    width: 150px;
    height: 2px; 
}

.botoesNav {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.botoesNav a {
    color: white;
    text-decoration: none;
}

.saindo {
    display: flex;
    align-items: center;
}

.saindo {
    margin-top: 120px;
    margin-right: 70px;
}

.saindo img {
    width: 30px;
    margin-right: 10px;
}

.saindo a {
    color: white;
    text-decoration: none;
}

.navbarBotao,
.navbarCelular,
.navbarCelularDps,
.botoesCelular {
    display: none;
}

.container {
    background-color: #f5f3f5;
    color: #302b27;
    display: flex;
    flex-direction: column;
    font-family: "inter", sans-serif;
    padding-top: 100px;
    padding-left: 100px;
    width: 85%;
}

.container h1 {
    font-size: 42px;
    padding-left: 30px;
}

.perfilConta {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #F9FAFF;
    border-radius: 20px;
    width: 40%;
    height: 58vh;
}

.boxCaracteristicas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 60px;
    padding-left: 30px;
}

.inicioPessoa {
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
}

.inicioPessoa img {
    height: 55px;
    width: 55px;
    margin-left: 200px;
}

.inicioPessoa h2 {
    font-size: 28px;
}

.caracteristicas {
    display: flex;
    flex-direction: column;
}

.caracteristicas img {
    width: 200px;
}

.containerPessoa {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgCaracter {
    cursor: pointer;
    border-radius: 220px;
    height: 15.6vh;
    width: 5.5%;
}

#imgPerfil {
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    object-fit: cover;  
    cursor: pointer;
    margin-left: 10px;
}

.dadosPessoa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 55px;
    padding-top: 35px;
    padding-left: 250px;
}

.dadosPessoa input{
    background: none;
    border: none;
    font-size: 25px;
    width: 280px;
}

.dadosPessoa input::placeholder {
    color: #1a1715;
    font-weight: bold;
}

#nomeSocial, 
#cargo {
    font-size: 20px;
}

.credenciais {
    color: #302B27;
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
    justify-content: flex-start;
    flex-direction: column;
}

.credencialCampo {
    display: flex;
    font-size: 20px;
}

.credencialCampo h4 {
    padding-top: 28px;
    padding-right: 15px;
}

.credencialCampo input {
    width: 360px;
    padding-top: 6px;
}

.credencialCampo input::placeholder {
    color: #302B27;
    font-size: 20px;
    font-weight: bold;
}

.emailIcon img {
    height: 80px;
    width: 80px;
}

.senhaIcon img {
    margin-left: 10px;
    height: 60px;
    width: 60px;
}

.cpfIcon img {
    margin-top: 20px;
    margin-left: 14px;
    height: 50px;
    width: 50px;
}

.senhaIcon h4 {
    padding-top: 24px;
    padding-left: 10px;
}

.cpfIcon h4 {
    padding-top: 30px;
    padding-left: 16px;
}

.senhaIcon input {
    padding-top: 30px;
}

.cpfIcon input {
    padding-top: 30px;
}

@media (max-width: 1304px) {
    .inicioPessoa img {
        height: 55px;
        width: 55px;
        margin-left: 100px;
    }
}

@media (max-width: 1010px) {
    .inicioPessoa img {
        height: 55px;
        width: 55px;
        margin-left: 80px;
    }
}

@media (max-width: 950px) {
    .inicioPessoa img {
        height: 55px;
        width: 55px;
        margin-left: 60px;
    }
}

@media (max-width: 891px) {
    .inicioPessoa img {
        height: 55px;
        width: 55px;
        margin-left: 40px;
    }
}

@media (min-width: 767px) {

    header {
        height: 15%;
        padding: 0 10%;
    }

    .navbarCelular {
        display: flex;
    }
    
}

@media (max-width: 767px) {

    header {
        height: 70px;
        padding: 0 5%;
        opacity: 1;
    }

    header .section_href {
        display: none;
    }

    header .section_logo {
        display: flex;
        align-self: flex-start;
        width: 100%;
    }

    .navbarBotao,
    .navbarCelular,
    .botoesCelular {
        display: flex;
    }
    
    .navbarCelular button{
        background: none;
        border-radius: 10px;
        margin-top: 20px;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        width: 150%;
        height: auto;
    }

    .navbarCelular img{
        width: 30px;
        height: auto;
    }
    
    .navbarCelularDps button{
        background: #576ca8;
        border-radius: 10px;
        margin-top: 20px;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        width: 150%;
        height: auto;
    }

    .navbarCelularDps img{
        width: 30px;
        height: auto;
    }

    .boxCelular {
        display: flex;
        justify-content: flex-end;
    }

    .botoesCelular {
        align-items: center;
        background-color: #302b27;
        border-radius: 10px;
        color: white;
        display: flex;
        height: 20vh;
        flex-direction: column;
        position: fixed;
        justify-content: center;
        margin-top: 65px;
        margin-right: 26px;
        width: 40%;
        z-index: 9999;
    }
    
    .botoesCelular a {
        color: white;
        font-size: 20px;
        font-family: "Jura", sans-serif;
        text-decoration: none;
        text-align: center;
        height: 5vh;
        width: 60%;
    }

}